/* 
*COMMON
*/

.violet {
  color: purple;
  font-size: 25px;
}

.yellow {
  background-color: yellow;
}

/*
 *HEADER
 */

header {
  background-image: url(img/pattern.png);
  background-color: rgba(78, 160, 255, 255);
  height: 175px;
}
#first-img {
  width: 300px;
  margin-top: 80px;
}

/*
*MAIN
 */
main {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.title {
  font-size: 80px;
  font-weight: 550;
}
#blu {
  color: rgba(74, 185, 234, 255);
}
.img-description {
  font-size: 16px;
}
#second-img {
  height: 400px;
  width: 600px;
}
#third-img {
  height: 400px;
  width: 500px;
}
